<!DOCTYPE html>
<html>
<title>About Dedgar</title>
{{template "header.html"}}
<body>
{{template "navbar.html"}}
<div class="w3-content" style="max-width:900px;margin-top:75px">
 <p>
My name is Doug Edgar. I'm a software engineer at Red Hat, specializing in OpenShift cloud security tooling and DevOps practices. I have over 13 years experience with Linux, with the last 7+ of those being professional for different companies.
<br>
<br>
I have extensive container development experience, and regularly work with Python, Golang, Ansible, AWS APIs, and Docker.
<br>
<br>
My interests are in open source software engineering, web development, and 3D graphics. For advertising opportunities, partnerships, or business inquiries, please feel free to contact me via the <a href="/contact">Contact</a> page.
 </p>
</div>
</body>
{{template "footer.html"}}
