<!DOCTYPE html>
{{template "header.html"}}
{{template "navbar.html"}}
<script>
function formSubmitted() { 
    alert("The form was submitted");
}
function reLoad() { 
    document.getElementById("contactForm").reset();
}
</script>
<script src="/js/plugin/jquery-1.11.1.min.js"></script>
<script src="/js/plugin/jquery.easing.1.3.js"></script>
<script src="/js/analytics.js"></script>
<script src="/js/common.js"></script>
<style>
input[type=text], select, input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
</style>
<div class="container" style="margin: 0 auto;max-width: 800px;padding-top: 100px;border-radius: 5px;">  
  <form action="/post-contact" id="contactForm" method="post" target="hiddenFrame" onsubmit="formSubmitted()"> 
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required autofocus/>
    <div>
    <div>
      <label for="mail">Email:</label>
      <input type="email" id="email" name="email" required/>
    </div>
    <div>
      <label for="msg">Message:</label>
      <textarea id="message" name="message"required></textarea>
    </div>
    <div>
    <input type="submit" id="formbtnsubmit" value="Submit" style="background-color: #4CAF50;color: white;padding: 12px 20px;border: none;border-radius: 4px;cursor: pointer;">
    </div>
  </form>
</div>
<iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;" onload="reLoad()"></iframe>
{{template "footer.html"}}
