<!DOCTYPE html>
<html>
<title>Dedgar - OpenShift cloud application development and examples</title>
{{template "header.html"}}
<body>

{{template "navbar.html"}}

  <!-- The Posts Section -->
  <div class="w3-container w3-content w3-center w3-padding-64 custom-border" style="max-width:800px; background-color: white" id="postlistdiv">
    <h2 class="w3-wide">FEATURED POSTS</h2>
    <p class="w3-opacity"><i>Visit the <a href="/posts" class="w3-text-blue">posts</a> section for the full list of articles.</i></p>
    <p class="w3-justify">
    <ul id="postlist" style="list-style-type:circle">
    {{range $key, $value := .}}
        <li><a href="/post/{{$key}}">{{$key}}</a> </li>
    <p>{{$value}}</p>
    <br>
    {{end}}
    </ul>
    </p>
    <p class="w3-opacity" style="max-width:800px"><i> See more articles in the <a href="/posts" class="w3-text-blue">posts</a> sections.</i></p>
  </div>


<!-- End Page Content -->
</div>

{{template "footer.html"}}

<script>
// Automatic Slideshow - change image every 5 seconds
//var myIndex = 0;
//carousel();
//
//function carousel() {
//    var i;
//    var x = document.getElementsByClassName("mySlides");
//    for (i = 0; i < x.length; i++) {
//       x[i].style.display = "none";  
//    }
//    myIndex++;
//    if (myIndex > x.length) {myIndex = 1}    
//    x[myIndex-1].style.display = "block";  
//    setTimeout(carousel, 5000);    
//}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
</body>
</html>
